@model DvdStore.Models.CastDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CastDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActorFname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorFname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActorLname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorLname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CastId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
