@model IEnumerable<DvdStore.Models.CastDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActorFname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorLname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ActorFname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActorLname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CastId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CastId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CastId })
        </td>
    </tr>
}

</table>
