@model DvdStore.Models.Loan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Loan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DvdDetails.DvdTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DvdDetails.DvdTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanType.LoanCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanType.LoanCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TakenDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TakenDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StandardCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StandardCharge)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LoanId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
