@model IEnumerable<DvdStore.Models.Producer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProducerFname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProducerLname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProducerFname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProducerLname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProducerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProducerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProducerId })
        </td>
    </tr>
}

</table>
