@model IList<DvdStore.Models.DvdDetails>
@{
    ViewBag.Title = "OldDvdList";
}

<h2>OldDvdList</h2>

<table class="table">
    <tr>
        <th>
            Dvd Title: 
        </th>
        <th>
            Dvd Description: 
        </th>
        <th>
            Total Copies: 
        </th>
        <th>
            Release Date: 
        </th>
        <th>
            Date Added: 
        </th>
        <th>
           Age Restriction: 
        </th>
        <th>
           Studio: 
        </th>
        <th>
            Producer: 
        </th>
        <th>
            Cast: 
        </th>
        <th></th>
    </tr>
    @foreach (var v in Model)
    {
<tr>
    <td>
        @v.DvdTitle
    </td>
    <td>
        @v.DvdDescription
    </td>
    <td>
        @v.TotalDvdCopies
    </td>
    <td>
        @v.ReleaseDate
    </td>
    <td>
        @v.DateAdded
    </td>
    <td>
        @v.AgeRestiriction
    </td>
    <td>
        @v.Studio
    </td>
    <td>
        @v.Producer
    </td>
    <td>
        @v.Cast
    </td>
</tr>
    }
</table>